.container{
    display: flex;
    justify-content: space-between;
}

.button{
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--mainColor);
    border-radius: 5px;
    background-color: transparent;
    width: max-content;
    color: var(--mainColor);
    cursor: pointer;
    font-weight: bold;
}

.button:disabled{
    opacity: 0;
}