.container{}

.infoContainer{
    display: flex;
    align-items: center;
    gap: 50px;
}

.textContainer{
    width: 50%;
}

.textFullContainer{
    width: 100%;
}

.title{
    font-size: 64px;
    margin-bottom: 50px;
}

.infoWrapper{
    display: flex;
    align-items: center;
    gap: 15px;
}

.userInfoWrapper{
    display: flex;
    align-items: center;
    gap: 15px;
}

.userImageContainer{
    width: 50px;
    height: 50px;
    position: relative;
}

.avatar{
    border-radius: 50%;
    object-fit: cover;
}

.userTextContainer{
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: var(--softTextColor);
    font-size: 14px;
}

.username{
    font-weight: bold;
}

.date{}

.iconsContainer{
    display: flex;
    gap: 15px;
    margin-left: 20px;
    align-items: center;
}

.icon{
    cursor: pointer;
    color: var(--softTextColor);
}

.likes{
    font-size: 14px;
}

.icon:hover{
    transform: scale(1.03);
    color: var(--textColor);
}

.imageContainer{
    width: 50%;
    height: 350px;
    position: relative;
}

.image{
    object-fit: cover;
    border-radius: 20px;
}

.category{
    border: 1px solid var(--mainColor);
    color: var(--mainColor);
    border-radius: 50px;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: bold;
    width: max-content;
    margin-left: auto;
    cursor: pointer;
    text-transform: uppercase;
}

.content{
    display: flex;
    gap: 50px;
}

.post{
    flex: 5;
    margin-top: 60px;
}

.desc p{
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 20px;
}

@media screen and (max-width: 1536px) {
    .title{
        font-size: 54px;
    }
}

@media screen and (max-width: 1280px) {
    .title{
        font-size: 48px;
    }
}

@media screen and (max-width: 1024px) {

    .content{
        flex-direction: column;
    }
    .infoContainer{
        flex-direction: column;
    }

    .textContainer{
        width: 100%;
    }

    .imageContainer{
        width: 100%;
    }
}


@media screen and (max-width: 768px) {
    .post{
        flex: auto;
    }
}

@media screen and (max-width: 640px) {
    .imageContainer{
        width: 100vw;
    }
    .infoWrapper{
        flex-direction: column;
        align-items: start;
    }
    .iconsContainer{
        margin-left: 0px;
    }
    .image{
        border-radius: 0px;
    }
    .category{
        display: none;
    }
    
    .title{
        font-size: 36px;
    }

    .desc p{
        font-size: 18px;
    }
}