.container{
    position: absolute;
    top: 40px;
    right: 0px;
    display: flex;
    background-color: var(--softBg);
    overflow: hidden;
    gap: 20px;
    width: 220px;
    padding: 15px;
    border-radius: 15px;
    z-index: 999999;
}

.leftContainer, .rightContainer{
    flex: 1;
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease-in-out;
    cursor: auto;
}

.mobileContainer{
    display: none;
}

.link, .linkTheme, .linkGoogle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
    width: 190px;
}

.link:hover, .linkWrite:hover{
    background-color: var(--bg);
    cursor: pointer;
}

.linkGoogle:hover{
    cursor: pointer;
    text-decoration: underline;
}

.linkSettingsText{
    display: flex;
    align-items: center;
    gap: 5px;
}

.draftsWrapper{
    display: flex;
    gap: 10px;
}

.number{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--mainColor);
    color: var(--bg);
    height: 20px;
    min-width: 20px;
    border-radius: 30px;
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
}

.containerLoading{
    position: absolute;
    top: 40px;
    right: 0px;
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 15px;
    z-index: 999;
    width: max-content;
    gap: 20px;
    overflow: hidden;
    background-color: var(--softBg);
}

.containerError{
    position: absolute;
    top: 40px;
    right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border-radius: 15px;
    z-index: 999;
    width: max-content;
    gap: 20px;
    overflow: hidden;
    background-color: var(--softBg);
}

.errorWrapper{
    display: flex;
    align-items: center;
    gap: 10px;
}

.errorText{
    font-size: 14px;
    color: var(--danger);
}

@media screen and (max-width: 650px){
    .leftContainer{
        display: none;
    }
    .rightContainer{
        display: none;
    }
    .mobileContainer{
        display: flex;
        gap: 20px;
    }
    .link:nth-child(3){
        display: none;
    }
}

