.container{
    flex: 2;
    margin-top: 60px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.leftHeader{
    display: flex;
    flex-direction: column;
}

.subTitle, .subTitleSecondary{
    color: gray;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
}

.title, .titleSecondary{
    font-size: 28px;
}

.cardsWrapper, .cardWrapperRecommendation{
    margin: 35px 5px 60px 0px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

@media screen and (max-width: 1024px) {
    .container{
        flex: 4;
    }
}

@media screen and (max-width: 768px){
    .container{
        margin-top: 0px;
    }
    .subTitleSecondary{
        display: none;
    }
    
    .titleSecondary{
        display: none;
    }
    .cardsWrapper{
        display: none;
    }
}