.container{
    display: flex;
    position: relative;
    border-radius: 50px;
    gap: 10px;
}

.addBtns{
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 15px;
    height: max-content;
}

.addBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: var(--softBg);
    color: var(--textColor);
    cursor: pointer;
}

.textArea{
    width: 100%;
    border-radius: 20px;
    border: none;
}

.addBtn:hover{
    color: var(--mainColor);
}