.container{
    position: absolute;
    left: 0px;
    width: 100%;
    top: 40px;
    padding: 8px;
    max-height: 320px;
    overflow-y: auto;
    background-color: var(--softBg);
    border-radius: 15px;
    z-index: 9999;
}

.container::-webkit-scrollbar{
    width: 7px;
}
.container::-webkit-scrollbar-track{
    background-color: transparent;
}
.container::-webkit-scrollbar-thumb{
    background-color: var(--mainColor);
    border-radius: 30px;
}

.header{
    color: var(--softTextColor);
    font-weight: 500;
    font-size: 14px;
    text-decoration: underline;
}

.cardsWrapper, .cardWrapperRecommendation{
    margin: 5px 0px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}