.container{
}

.profileWrapper{
    display: flex;
    align-items: center;
    gap: 15px;
}

.imgWrapper{
    width: 70px;
    height: 70px;
    object-fit: cover;
    position: relative;
}

.title{
    font-size: 45px;
}

.image{
    border-radius: 50%;
    background-color: gray;
}

.wrapper{
    margin-top: 60px;
}

@media screen and (max-width: 768px) {
    .title{
        font-size: 35px;
    }

    .imgWrapper{
        display: none;
    }
}