.container{
    display: none;
}

.containerLoggedOut{
    display: none;
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}

.icon{
    color: var(--textColor);
    padding: 0px 10px;

}

.draftMobile{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--mainColor);
    color: var(--bg);
    height: 25px;
    min-width: 25px;
    border-radius: 30px;
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
}

@media screen and (max-width: 650px) {
    .container{
        display: flex;
        position: fixed;
        bottom: 0;
        width: 100vw;
        background-color: var(--softBg);
        z-index: 99999;
    }
}