.container{
    display: none;
}

.containerLoggedOut{
    display: none;
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}

.icon{
    color: var(--textColor);
    padding: 0px 10px;
}

@media screen and (max-width: 650px) {
    .container{
        display: flex;
        position: fixed;
        bottom: 0;
        width: 100vw;
        background-color: var(--softBg);
    }
}