.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.wrapper{
    padding: 50px 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.loading{
    font-size: 36px;
    font-weight: bold;
}

.socialButton{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    border-radius: 50px;
    color: var(--softTextColor);
    cursor: pointer;
    border: 1px solid var(--softTextColor);
    font-weight: bold;
    transition: 0.5s all ease;
}

.socialButton:hover{
    color: var(--textColor);
    border: 1px solid var(--textColor);
    transform: scale(1.01);
}

@media screen and (max-width: 768px){
    .wrapper{
        padding: 50px 100px;
    }
}

@media screen and (max-width: 640px){
    .wrapper{
        padding: 0px;
        margin-top: 30px;
    }

    .socialButton{
        font-size: 14px;
        font-weight: 600;
    }
}