.container{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
}

.wrapper{
    width: 400px;
    height: max-content;
    background-color: var(--bg);
    color: var(--textColor);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
}

.texts{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    gap: 5px;
}

.message{
    color: var(--textColor);
    font-weight: bold;
}

.subText{
    color: var(--softTextColor);
}

.btns{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.cancelBtn, .confirmBtn{
    background-color: transparent;
    border-radius: 30px;
    padding: 10px 20px;
}

.confirmBtn{
    color: var(--danger);
    border: 1px solid var(--danger);
    cursor: pointer;
}

.cancelBtn{
    color: var(--softTextColor);
    border: 1px solid var(--softTextColor);
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .wrapper{
        background-color: var(--softBg);
        width: 90%;
    }
}