.container{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.top{
    display: flex;
    gap: 10px; 
}

.left{
    flex: 4;
}

.user{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.image{
    border-radius: 50%;
    object-fit: cover;
}

.userInfo{
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: var(--softTextColor);
    font-size: 14px;
}

.username{
    font-weight: bold;
}

.date{
    font-size: 12px;
}

.desc{
    font-size: 16px;
    font-weight: 300;
}

.right{
    display: flex;
    flex: 1;
    justify-content: flex-end;
    opacity: 0;
    color: var(--softTextColor);
}

.container:hover .right{
    opacity: 100%;
}

.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}

.bottom{
    margin-top: 5px;
    font-size: 14px;
    color: var(--mainColor);
}

.replies{
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    cursor: pointer;
    width: max-content;
}