:root{
  --bg: white;
  --textColor: black;
  --softBg: #f0f0f0;
  --softTextColor: #626262;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.light{
  --bg: white;
  --textColor: black;
  --softBg: #f0f0f0;
  --softTextColor: #626262;
  --mainColor: rgb(220, 45, 232);
  --transparentBg: #000000bb;
  --danger: rgb(212, 22, 22);
}

.dark{
  --bg: #0c0d11;
  --textColor: #ddd;
  --softBg: #18181a;
  --softTextColor:#a6a6a6;
  --mainColor: rgb(227, 91, 236);
  --transparentBg: #000000bb;
  --danger: rgb(212, 22, 22);
}

body{
  max-width: 100vw;
  overflow-x: hidden;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

a{
  color: inherit;
  text-decoration: none;
}

.container{
  min-height: 100vh;
  background-color: var(--bg);
  color: var(--textColor);
}

.wrapper{
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 80px;
  padding-right: 80px;
}

@media screen and (max-width:1536px) {
  .wrapper{
    max-width: 1366px;
  }
}

@media screen and (max-width:1280px) {
  .wrapper{
    max-width: 1024px;
  }
}

@media screen and (max-width:1024px) {
  .wrapper{
    max-width: 768px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper{
    padding-bottom: 50px;
  }
}

@media screen and (max-width:640px) {
  .wrapper{
    max-width: 475px;
  }
}

.ql-editor ul{
  list-style-position: inside !important;
}

.ql-editor ol{
  list-style-position: inside !important;
}

.ql-editor img{
  border-radius: 15px;
}

.ql-editor a{
  color: var(--mainColor);
}

.ql-editor img{
  max-width: 100%;
}

.ql-align-center{
  text-align: center;
}

.ql-align-right{
  text-align: right;
}

.ql-align-justify{
  text-align: justify;
}

.ql-indent-1{
  text-indent: 50px;
}

.ql-indent-2{
  text-indent: 100px;
}

.ql-indent-3{
  text-indent: 150px;
}

.ql-indent-4{
  text-indent: 200px;
}

.ql-indent-5{
  text-indent: 250px;
}

.ql-indent-6{
  text-indent: 300px;
}

.ql-indent-7{
  text-indent: 350px;
}

.ql-indent-8{
  text-indent: 400px;
}

.ql-indent-9{
  text-indent: 450px;
}

.ql-indent-10{
  text-indent: 500px;
}

.ql-container{
  font-size: 16px !important;
  border: none !important;
}

.quill > .ql-container > .ql-editor.ql-blank::before{
  color: var(--softTextColor);
}

.quill > .ql-snow.ql-toolbar {
  border: none;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  padding: 25px 0px;
  background-color: var(--bg);
  z-index: 999;
  fill: var(--softTextColor);
}

.ql-snow.ql-toolbar .ql-fill {
  fill: gray;
}

.ql-snow.ql-toolbar .ql-stroke {
  stroke: gray;
}

.ql-snow.ql-toolbar:hover .ql-fill {
  fill: var(--textColor);
}

.ql-snow.ql-toolbar:hover .ql-stroke {
  stroke: var(--textColor);
}

.ql-snow.ql-toolbar .ql-bold:hover .ql-fill {
  fill: var(--mainColor);
}

.ql-snow.ql-toolbar .ql-bold:hover .ql-stroke {
  stroke: var(--mainColor);
}

.ql-snow.ql-toolbar .ql-italic:hover .ql-fill {
  fill: var(--mainColor);
}

.ql-snow.ql-toolbar .ql-italic:hover .ql-stroke {
  stroke: var(--mainColor);
}

.ql-snow.ql-toolbar .ql-underline:hover .ql-fill {
  fill: var(--mainColor);
}

.ql-snow.ql-toolbar .ql-underline:hover .ql-stroke {
  stroke: var(--mainColor);
}

.ql-snow.ql-toolbar .ql-strike:hover .ql-fill {
  fill: var(--mainColor);
}

.ql-snow.ql-toolbar .ql-strike:hover .ql-stroke {
  stroke: var(--mainColor);
}

.ql-snow.ql-toolbar .ql-align:hover .ql-fill {
  fill: var(--mainColor);
}

.ql-snow.ql-toolbar .ql-align:hover .ql-stroke {
  stroke: var(--mainColor);
}

.ql-snow.ql-toolbar .ql-align.ql-active .ql-fill {
  fill: var(--mainColor);
}

.ql-snow.ql-toolbar .ql-align.ql-active .ql-stroke {
  stroke: var(--mainColor);
}

.ql-snow.ql-toolbar .ql-header:hover .ql-fill {
  fill: var(--mainColor);
}

.ql-snow.ql-toolbar .ql-header:hover .ql-stroke {
  stroke: var(--mainColor);
}

.ql-snow.ql-toolbar .ql-header.ql-active .ql-fill {
  fill: var(--mainColor);
}

.ql-snow.ql-toolbar .ql-header.ql-active .ql-stroke {
  stroke: var(--mainColor);
}

.ql-snow.ql-toolbar .ql-indent:hover .ql-fill {
  fill: var(--mainColor);
}

.ql-snow.ql-toolbar .ql-indent:hover .ql-stroke {
  stroke: var(--mainColor);
}

.ql-snow.ql-toolbar .ql-list:hover .ql-fill {
  fill: var(--mainColor);
}

.ql-snow.ql-toolbar .ql-list:hover .ql-stroke {
  stroke: var(--mainColor);
}

.ql-snow.ql-toolbar .ql-list.ql-active .ql-fill {
  fill: var(--mainColor);
}

.ql-snow.ql-toolbar .ql-list.ql-active .ql-stroke {
  stroke: var(--mainColor);
}

.ql-snow.ql-toolbar .ql-link:hover .ql-fill {
  fill: var(--mainColor);
}

.ql-snow.ql-toolbar .ql-link:hover .ql-stroke {
  stroke: var(--mainColor);
}

.ql-snow.ql-toolbar .ql-clean:hover .ql-fill {
  fill: var(--mainColor);
}

.ql-snow.ql-toolbar .ql-clean:hover .ql-stroke {
  stroke: var(--mainColor);
}

@media screen and (max-width:640px) {
  .quill > .ql-snow.ql-toolbar {
    width: 100%;
  }
}
