.container{}

.topWrapper{
    display: flex;
    width: 100%;
    gap: 20px;
}

.imgContainer{
    width: 200px;
    height: 200px;
    position: relative;
}

.image{
    object-fit: cover;
    border-radius: 20px;
}

.progress{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    font-weight: 300;
    color: var(--softTextColor);
}

.rightWrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 70%;
}

.input{
    padding: 25px;
    font-size: 32px;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--textColor);
}

.input::placeholder{
    color: #b3b3b1;
}

.selectWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0px 45px 0px;
    gap: 15px;
}

.select{
    outline: none;
    border: none;
    width: 200px;
    cursor: pointer;
    margin-right: 20px;
    color: var(--softTextColor);
    font-style: oblique;
    background-color: var(--bg);
    font-size: 18px;
}

.addButtonImg{
    width: 200px;
    height: 200px;
    border-radius: 20px;
    background-color: transparent;
    border: 1px dashed var(--softTextColor);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--softTextColor);
    cursor: pointer;
    display: flex;
    gap: 10px;
}

.addButtonImg:hover{
    color: var(--textColor);
}

.editor{
    display: flex;
    position: relative;
    border-radius: 50px;
    gap: 10px;
}

.addBtns{
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
    height: max-content;
}

.addBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: var(--softBg);
    color: var(--textColor);
    cursor: pointer;
}

.textArea{
    width: 100%;
    border-radius: 20px;
    padding: 10px;
    border: none;
}

.addBtn:hover{
    color: var(--mainColor);
}

.publish, .prohibit, .loading{
    position: absolute;
    top: 100px;
    right: 100px;
    padding: 10px 20px;
    background-color: transparent;
    color: var(--textColor);
    border: 1px solid var(--textColor);
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
}

.loadingText{
    display: flex;
    align-items: center;
    gap: 10px;
}

.publish:hover{
    color: var(--mainColor);
    border: 1px solid var(--mainColor);
}

.prohibit:hover{
    color: var(--softTextColor);
    border: 1px solid var(--softTextColor);
    cursor: not-allowed;
}