.container{}

.topWrapper{
    display: flex;
    width: 100%;
    gap: 20px;
}

.imgContainer{
    width: 200px;
    height: 200px;
    position: relative;
}

.image{
    object-fit: cover;
    border-radius: 20px;
}

.progress{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    font-weight: 300;
    color: var(--softTextColor);
}

.rightWrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 70%;
}

.input{
    padding: 25px;
    font-size: 32px;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--textColor);
}

.input::placeholder{
    color: #b3b3b1;
}

.selectWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0px 45px 0px;
    gap: 15px;
}

.select{
    outline: none;
    border: none;
    width: 200px;
    cursor: pointer;
    margin-right: 20px;
    color: var(--softTextColor);
    font-style: oblique;
    background-color: var(--bg);
    font-size: 18px;
}

.addButtonImg{
    width: 200px;
    height: 200px;
    border-radius: 20px;
    background-color: transparent;
    border: 1px dashed var(--softTextColor);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--softTextColor);
    cursor: pointer;
    display: flex;
    gap: 10px;
}

.addButtonImg:hover{
    color: var(--textColor);
}

.publish, .prohibit, .loading{
    position: absolute;
    top: 100px;
    right: 100px;
    padding: 10px;
    width: 150px;
    background-color: transparent;
    color: var(--textColor);
    border: 1px solid var(--textColor);
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
}

.draft, .prohibitDraft, .loadingDraft{
    position: absolute;
    top: 150px;
    right: 100px;
    width: 150px;
    padding: 10px;
    background-color: transparent;
    color: var(--softTextColor);
    border: 1px solid var(--softTextColor);
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
}

.loadingText{
    display: flex;
    align-items: center;
    gap: 10px;
}

.publish:hover{
    color: var(--mainColor);
    border: 1px solid var(--mainColor);
}

.prohibit:hover, .prohibitDraft:hover{
    color: var(--softTextColor);
    border: 1px solid var(--softTextColor);
    cursor: not-allowed;
}

@media screen and (max-width: 650px) {
    .topWrapper{
        flex-direction: column;
    }

    .imgContainer{
        width: 100%;
    }

    .addButtonImg{
        width: 100%;
    }

    .input{
        padding: 0px;
        font-size: 20px;
        border: none;
        outline: none;
        background-color: transparent;
        color: var(--textColor);
    }
    
    .select{
        font-size: 16px;
    }

    .publish, .prohibit, .loading{
        margin-top: 10px;
        position: static;
        width: 100%;
    }

    .draft, .prohibitDraft, .loadingDraft{
        margin-top: 30px;
        position: static;
        width: 100%;
    }
}