.container{
    margin-top: 30px;
}

.title{
    font-size: 96px;
}

@media screen and (max-width:1280px) {
    .title{
        font-size: 72px;
    }
}

@media screen and (max-width:1024px) {
    .title{
        font-size: 48px;
    }
}

@media screen and (max-width:768px) {
    .sliderContainer{
        display: none;
    }
}