.container{
    display: flex;
    flex-direction: column;
}

.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pickedCategory{
    border: 1px solid var(--mainColor);
    color: var(--mainColor);
    border-radius: 50px;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: bold;
    width: max-content;
    text-transform: uppercase;
}

.content{
    display: flex;
    gap: 50px;
}

@media screen and (max-width: 768px) {
    .pickedCategory{
        font-size: 12px;
    }
}