.container{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.container:hover{
    background-color: var(--bg);
}

.imageContainer{
    width: 50%;
    height: 350px;
    position: relative;
}

.imageContainerSm{
    width: 25%;
    aspect-ratio: 1/1;
    position: relative;
}

.imageSm{
    border-radius: 50%;
    border: 3px solid lightgray;
    object-fit: cover;
}

.textContainerSm{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.titleSm{
    font-size: 18px;
    font-weight: 500;
    color: var(--textColor);
}

.usernameSm:hover, .titleSm:hover{
    cursor: pointer;
    text-decoration: underline;
}

.details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.usernameSm{
    font-size: 14px;
    color: var(--softTextColor);
    font-weight: bold;
}

.likes, .date{
    color: gray;
}

.categoryLg{
    color: var(--mainColor);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
}

.category{
    color: var(--mainColor);
    border-radius: 10px;
    font-size: 12px;
    width: max-content;
    font-weight: bold;
    text-transform: uppercase;
}

.categoryLg:hover, .category:hover{
    text-decoration: underline;
}

.desc{
    font-size: 18px;
    font-weight: 300;
    color: var(--softTextColor);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.linkRead{
    border-bottom: 1px solid var(--mainColor);
    width: 85px;
    padding: 2px 0px;
    transition: 0.5s all ease;
}

.linkRead:hover{
    width: 100px;
}

@media screen and (max-width: 1280px) {
    .category{
        font-size: 12px;
    }
    .usernameSm{
        font-size: 12px;
    }
    .titleSm{
        font-size: 16px;
    }
    .desc{
        font-size: 14px;
    }
    .details{
        font-size: 12px;
    }
    .link{
        font-size: 14px;
        width: 75px;
    }
    .link:hover{
        width: 90px;
    }
}