.sliderContainer{
    overflow: hidden;
}

.sliderWrapper{
    display: flex;
    align-items: center;
    position: relative;
    gap: 160px;
    transition: all 1.5s ease-in-out;
}

.post{
    display: flex;
    margin-top: 60px;
    align-items: center;
    justify-content: center;
    max-height: 400px;
    width: 80vw;
    gap: 50px;
}

.imgContainer{
    width: 50%;
    height: 400px;
    position: relative;
}

.image{
    object-fit: cover;
    border-radius: 20px;
}

.postContainer{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 20px;
}

.postTitle{
    font-size: 40px;
}

.postDesc{
    font-size: 20px;
    font-weight: 300;
    color: var(--softTextColor);
}

.button{
    padding: 16px 20px;
    border: 1px solid var(--textColor);
    border-radius: 5px;
    background-color: transparent;
    width: max-content;
    color: var(--textColor);
    cursor: pointer;
    font-weight: bold;
}

.scrollIcons{
    display: flex;
    width: 100%;
    gap: 20px;
    z-index: 99;
    margin-top: 20px;
    position: relative;
    align-items: center;
}

.scrollIcon{
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
}

.rightIcon{
    display: flex;
    cursor: pointer;
    align-items: center;
    gap: 5px;
}

.text{
    font-size: 15px;
    color: var(--softTextColor);
}

@media screen and (max-width:1280px) {

    .image{
        height: 200px;
    }

    .post{
        width: 68vw;
    }

    .postTitle{
        font-size: 30px;
    }
    
    .postDesc{
        font-size: 15px;
        font-weight: 300;
        color: var(--softTextColor)
    }
}


@media screen and (max-width:1024px) {
    .post{
        flex-direction: column;
        max-height: 800px;
    }
    .imgContainer{
        width: 100%;
    }
    .postContainer{
        width: 100%;
    }
}

@media screen and (max-width:768px) {
    .sliderContainer{
        display: none;
    }
}